<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>57556809118-t2d8ul61bdnbgv79m46oln79vg2siqiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57556809118-t2d8ul61bdnbgv79m46oln79vg2siqiv</string>
	<key>API_KEY</key>
	<string>AIzaSyAn7eG0Kh6SUxnWq_OVaeGPtZa5mDEQKk8</string>
	<key>GCM_SENDER_ID</key>
	<string>57556809118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.calpoly.betang.FireBaseStore</string>
	<key>PROJECT_ID</key>
	<string>csc436-lab7-b70a1</string>
	<key>STORAGE_BUCKET</key>
	<string>csc436-lab7-b70a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57556809118:ios:9d02180ec91cef46</string>
	<key>DATABASE_URL</key>
	<string>https://csc436-lab7-b70a1.firebaseio.com</string>
</dict>
</plist>